.lato-normal {
  font-family: "Lato", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100;
}
* {
  margin: 0;
  padding: 0;
}

/* style header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.1);
  height: 90vh;
  /* flex-wrap: wrap; */
}
.description {
  width: 50%;
  padding-left: 12.5%;
}
.description h1 {
  font-size: 5vw;
  font-weight: 900;
  color: rgba(39, 39, 39, 1);
}
.description p {
  font-size: 1.2rem;
  color: rgba(39, 39, 39, 0.6);
  line-height: 30px;
  margin: 32px 0;
}
.button-primary {
  background-color: rgba(229, 84, 115, 1);
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
}
.container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
  margin-left: 100px;
}
.container > img {
  width: 65%;
}

/* style card */
.flower {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10% 0;
}
.flower-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 3vw;
  font-weight: 900;
  color: rgba(39, 39, 39, 1);
}
.desc {
  text-align: center;
  font-size: 18px;
  color: rgba(39, 39, 39, 0.6);
  padding: 24px 0 48px;
  width: 65%;
}
.flower-cards {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 24px;
  flex-wrap: wrap;
}
.flower-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flower-card a {
  color: rgba(39, 39, 39, 1);
}
.flower0 {
  display: flex;
  width: 464px;
  height: 538px;
  justify-content: center;
  align-items: end;
  border-radius: 50% 50% 0 0;
}
.flower1 {
  background-color: rgba(167, 33, 98, 0.15);
}
.flower2 {
  background-color: rgba(5, 151, 160, 0.15);
  padding-bottom: 51px;
  height: 487px;
}
.flower3 {
  background-color: rgba(71, 125, 17, 0.15);
}

/* style support */
.support {
  max-width: 1440px;
  background-color: rgba(39, 39, 39, 0.05);
  border-radius: 8px;
  margin: 0 auto;
  padding: 85px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 100px;
}
.support div {
  text-align: center;
}

/* sign-up style */
.sign-up {
  background-color: rgba(229, 84, 115, 0.05);
  display: flex;
  margin: auto 0;
  justify-content: center;
  padding: 100px 0;
  gap: 100px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.sign-up-desc {
  max-width: 594px;
  text-align: center;
  margin: auto 0;
}
.sign-up-desc h4 {
  font-size: 40px;
  font-weight: 800;
  color: rgba(39, 39, 39, 1);
}
.sign-up-desc h4 span {
  color: rgba(229, 84, 115, 1);
}
.sign-up-desc p {
  font-size: 18px;
  color: rgba(39, 39, 39, 0.6);
  padding: 25px;
}

/* instagram style */
.instagram {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}
.instagram h4 {
  font-size: 40px;
  font-weight: 800;
  color: rgba(39, 39, 39, 1);
}
.instagram p {
  font-size: 18px;
  color: rgba(39, 39, 39, 0.6);
  padding: 24px 0 36px;
  max-width: 594px;
  margin: 0 auto;
}
.instagram div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

/* news latter style */
.news-latter {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(flower-asset/Rectangle\ 9.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 122px 0;
  margin-bottom: 100px;
}
.news-latter h4 {
  font-size: 40px;
  font-weight: 800;
  color: rgba(39, 39, 39, 1);
}
.news-latter p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
  padding: 16px 0 48px;
}
.news-latter input {
  width: 700px;
  height: 64px;
  padding: 0 22px;
  border: none;
  border-radius: 8px;
  margin-right: 16px;
}
.news-latter input::placeholder {
  color: rgba(39, 39, 39, 0.6);
}
.news-latter button {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(229, 84, 115, 1);
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  padding: 18px 31px;
  margin-top: 20px;
}

/* footer style */
.footer {
  /* margin: 0 auto; */
  text-align: center;
  background-color: rgba(17, 16, 16, 1);
}
.footer h4 {
  font-size: 48px;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  padding-top: 100px;
}
.footer h4 span {
  color: rgba(229, 84, 115, 1);
}
.footer-para {
  max-width: 625px;
  margin: 24px auto 32px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}
.footer-rights {
  color: rgba(255, 255, 255, 0.4);
  padding-bottom: 100px;
}

/* media style */
@media (max-width: 992px) and (min-width: 578px) {
  .header {
    flex-direction: column;
  }
  .description {
    width: auto;
    padding: 12.5% 12.5% 0 12.5%;
  }
  .description h1 {
    font-size: 40px;
  }
  .description p {
    font-size: 16px;
    margin: 20px 0;
    line-height: 20px;
  }
  .button-primary {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .container {
    width: 50%;
  }
  .container > img {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
    height: 100%;
  }
  .description {
    width: calc(100% - 80px);
    padding: 40px;
  }
  .description h1 {
    font-size: 10vw;
  }
  .container {
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  .title {
    font-size: 25px;
  }
}
